.calc-wrapper {
  background: #f57406;
  margin: 40px;

  .result-wrapper {
    height: 100px;
    font-size: 58px;
    text-align: right;
    padding-right: 13px;
    padding-top: 6px;
  }

  .input-wrapper {
    height: 50px;
    background: #ccc;
    text-align: right;
    letter-spacing: 5px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 20px;
  }

  .calc-keys {
    height: 500px;
    background: #fff;
  }

  .equal {
    background: #75b90c;
    color: white;
  }

  .operation {
    background: powderblue;
  }
}