html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ccc;
  height: 100%;
}

#root {
  height: 100%;
  background: linear-gradient(#be750954, #f1950a87, #d26a11a6);
}

div {
  height: auto;
}
